<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RuntimeDemo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9956EF8C1C85350B0048D87C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9956EFA51C85350B0048D87C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9956EFB01C85350B0048D87C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
